@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background: linear-gradient(to top,#405870,#2C3E50);
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

@media (max-width: 576px) {
   .toggle-btn{
      display: none;
   }
   .sidebar-nav{
      margin-top: 55px;
   }
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: white;
    color: black;
    border-left: 3px solid #3b7ddd;
    border-radius:10%;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}



.responsive-text {
   font-size: 12px;
 }
 .responsive-text-PU{
   font-size: 16px;
 }
 .imageHandle{
   width:80px
 }


 @media (min-width: 576px) {
   .responsive-text {
     font-size: 18px;
   }
   .responsive-text-PU{
      font-size: 22px;
    }
   .imageHandle{
      width: 90px;
   }
   
 }

 @media (min-width: 768px) {
   .responsive-text {
     font-size: 19px;
   }
   .responsive-text-PU{
      font-size: 23px;
    }
   .imageHandle{
      width: 92px;
   }
 }

 @media (min-width: 992px) {
   .responsive-text {
     font-size: 20px;
   }
   .responsive-text-PU{
      font-size: 24px;
    }
   .imageHandle{
      width: 95px;
   }
 }

 @media (min-width: 1200px) {
   .responsive-text {
     font-size: 21px;
   }
   .responsive-text-PU{
      font-size: 25px;
    }
   .imageHandle{
      width: 120px;
   }
 }
 .thick-hr {
   border: 3px solid #3F576E;
   outline: none; 
   opacity: 100;
 }
 .active{
   border: 3px solid white;
   border-radius:5%;
   
   background-color: white;
 }
 .swalContainer{
  top: 25%;
 }
 .swalTitle{
  color: red;
  font-size: medium;
 }
 .swalTitleSuccess{
  color: green;
}
.swalTitleError{
  color:red;
}
/* Basic Settings Content*/
.card-header{
  background: linear-gradient(to right,#405870,#2C3E50);
  color: #fff;
  font-weight: bold;

}


.card{
  margin-top: 2rem;
}
.form-label{
  font-size: 16px;
}
.form-control{
  border-radius: 50px;
}
.form-select{
  border-radius: 50px;
}

/*CSS for Department html file*/
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive table {
    width: 100%;
    min-width: 600px; /* Adjust based on your table's content */
  }
}

 